/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #17072b;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Tahoma, sans-serif;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    width: 65%;
}

aside {
    width: 30%;
    background-color: #172d67;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

aside .images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

aside img {
    width: 48%;
    border-radius: 5px;
}

footer {
    background-color: #8c15e9;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
